pkgbase = metis-desktop
pkgname = metis-desktop
pkgver = 0.1.0.12
pkgrel = 1
pkgdesc = Metis Wayland desktop environment (compositor, shell, settings)
url = https://github.com/digitalexpl0it/Metis
arch = x86_64
license = MIT
makedepends = rust
makedepends = cargo
makedepends = pkgconf
makedepends = git
makedepends = gettext
makedepends = meson
makedepends = ninja
makedepends = clang
depends = gtk4
depends = libadwaita
depends = gtk4-layer-shell
depends = libpulse
depends = alsa-lib
depends = libinput
depends = seatd
depends = mesa
depends = libdrm
depends = libdisplay-info
depends = pam
depends = pipewire
depends = lcms2
depends = wayland
depends = libei
depends = openssl
depends = kitty
depends = xdg-desktop-portal
optdepends = gnome-keyring: Secret Service provider
optdepends = xdg-desktop-portal-gtk: portal UI
optdepends = nftables: Remote access LAN firewall
optdepends = polkit-gnome: PolicyKit authentication agent
optdepends = gnome-remote-desktop: RDP session sharing host
optdepends = freerdp: Metis Viewer / FreeRDP client
optdepends = gamemode: gaming performance daemon
optdepends = flatpak: Flatpak app support
provides = metis-desktop
conflicts = metis-desktop
options = !lto
source = metis-desktop-0.1.0.12.tar.gz::https://github.com/digitalexpl0it/Metis/archive/refs/tags/v0.1.0.12.tar.gz
sha256sums = SKIP
