<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/software/polkit/policyconfig-1.dtd">
<!-- Metis Phase 15 — privileged helpers. Installed to /usr/share/polkit-1/actions/ -->
<policyconfig>
  <vendor>Metis</vendor>
  <vendor_url>https://github.com/digitalexpl0it/Metis</vendor_url>

  <action id="org.metis.remote.firewall.apply">
    <description>Apply Metis LAN-only RDP firewall rules</description>
    <message>Authentication is required to restrict Remote Desktop (RDP) to the LAN</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/metis-remote</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">firewall</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv2">apply-as-root</annotate>
  </action>

  <action id="org.metis.remote.firewall.clear">
    <description>Clear Metis LAN-only RDP firewall rules</description>
    <message>Authentication is required to remove Metis Remote Desktop firewall rules</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/metis-remote</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">firewall</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv2">clear-as-root</annotate>
  </action>

  <action id="org.metis.remote.firewall.rustdesk-apply">
    <description>Apply Metis LAN-only RustDesk firewall rules</description>
    <message>Authentication is required to restrict RustDesk ports to the LAN</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/metis-remote</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">firewall</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv2">rustdesk-apply-as-root</annotate>
  </action>

  <action id="org.metis.remote.firewall.rustdesk-clear">
    <description>Clear Metis LAN-only RustDesk firewall rules</description>
    <message>Authentication is required to remove Metis RustDesk firewall rules</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/metis-remote</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">firewall</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv2">rustdesk-clear-as-root</annotate>
  </action>

  <action id="org.metis.software.apt-install">
    <description>Install allowlisted Metis optional packages</description>
    <message>Authentication is required to install optional Metis software</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/metis-remote</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">pk-apt-install</annotate>
  </action>

  <action id="org.metis.accounts.add-input-group">
    <description>Add a user to the input group for controller access</description>
    <message>Authentication is required to add your account to the input group</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/metis-remote</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">pk-add-input-group</annotate>
  </action>

  <action id="org.metis.software.ubuntu-drivers-install">
    <description>Install recommended NVIDIA drivers via ubuntu-drivers</description>
    <message>Authentication is required to install recommended GPU drivers</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/metis-remote</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">pk-ubuntu-drivers-install</annotate>
  </action>

  <action id="org.metis.accounts.list">
    <description>List local Metis user accounts</description>
    <message>Authentication is required to list user accounts</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/metis-remote</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">pk-accounts-list</annotate>
  </action>

  <action id="org.metis.accounts.set-name">
    <description>Change a local user's display name</description>
    <message>Authentication is required to change a user's display name</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</auth_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/metis-remote</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">pk-accounts-set-name</annotate>
  </action>

  <action id="org.metis.accounts.set-icon">
    <description>Change a local user's login avatar</description>
    <message>Authentication is required to update the login screen avatar</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/metis-remote</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">pk-accounts-set-icon</annotate>
  </action>

  <action id="org.metis.accounts.set-password">
    <description>Change a local user's password</description>
    <message>Authentication is required to change a user's password</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/metis-remote</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">pk-accounts-set-password</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

  <action id="org.metis.accounts.set-admin">
    <description>Grant or revoke administrator (sudo) access</description>
    <message>Authentication is required to change administrator access</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/metis-remote</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">pk-accounts-set-admin</annotate>
  </action>

  <action id="org.metis.accounts.add">
    <description>Create a local user account</description>
    <message>Authentication is required to create a user account</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/metis-remote</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">pk-accounts-add</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

  <action id="org.metis.accounts.remove">
    <description>Delete a local user account</description>
    <message>Authentication is required to delete a user account</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/metis-remote</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">pk-accounts-remove</annotate>
  </action>

  <action id="org.metis.datetime.status">
    <description>Read system date and time status</description>
    <message>Authentication is required to read date and time status</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/metis-remote</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">pk-datetime-status</annotate>
  </action>

  <action id="org.metis.datetime.set-ntp">
    <description>Enable or disable network time synchronization</description>
    <message>Authentication is required to change automatic date and time</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/metis-remote</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">pk-datetime-set-ntp</annotate>
  </action>

  <action id="org.metis.datetime.set-timezone">
    <description>Change the system time zone</description>
    <message>Authentication is required to change the time zone</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/metis-remote</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">pk-datetime-set-timezone</annotate>
  </action>

  <action id="org.metis.datetime.set-time">
    <description>Set the system clock manually</description>
    <message>Authentication is required to set the date and time</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/metis-remote</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">pk-datetime-set-time</annotate>
  </action>
</policyconfig>
